Johannes Schindelin <johannes.schindelin@gmx.de>
Christian Dietz <christian.dietz@uni-konstanz.de>
Jonathan Hale <squareys@googlemail.com>
Jean-Yves Tinevez <tinevez@pasteur.fr> <jeanyves.tinevez@gmail.com>
Mark Hiner <hiner@wisc.edu> <hinerm@gmail.com>
