Christian Dietz <christian.dietz@uni-konstanz.de>
Deborah Schmidt <hallo@frauzufall.de>
Jean-Yves Tinevez <tinevez@pasteur.fr> <jeanyves.tinevez@gmail.com>
Johannes Schindelin <johannes.schindelin@gmx.de>
Jonathan Hale <squareys@googlemail.com>
Kyle Harrington <kharrington@uidaho.edu> <kephale@users.noreply.github.com>
Kyle Harrington <kharrington@uidaho.edu> <kyleh@cs.brandeis.edu>
Mark Hiner <hiner@wisc.edu> <hinerm@gmail.com>
